[user]
	email = sethmnielsen@gmail.com
	name = Seth Nielsen
[push]
	default = simple
[pull]
	rebase = false
[core]
  ;pager = delta --plus-color="#006000" --plus-emph-color="#00af00"  --theme='1337' --line-numbers
  pager = delta
[interactive]
  diffFilter = delta --color-only
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[delta]
    syntax-theme = 1337
    plus-style = syntax "#006000"
    plus-emph-style = syntax "#00af00"
    line-numbers = true

[init]
	defaultBranch = main
