Xcursor.size:16

! foreground/background
URxvt*background: #17191C
URxvt*foreground: #FFFFFF
!*cursorColor:     #16A085

! custom urxvt theme
! black
URxvt.color0  : #01060E
URxvt.color8  : #686868
! red
URxvt.color1  : #EA6C73
URxvt.color9  : #F07178
! green
URxvt.color2  : #91B362
URxvt.color10 : #C2D94C
! yellow
URxvt.color3  : #F9AF4F
URxvt.color11 : #FFB454
! blue
URxvt.color4  : #53BDFA
URxvt.color12 : #59C2FF
! magenta
URxvt.color5  : #FAE994
URxvt.color13 : #FFEE99
! cyan
URxvt.color6  : #90E1C6
URxvt.color14 : #95E6CB
! white
URxvt.color7  : #C7C7C7
URxvt.color15 : #FFFFFF

! '#01060E','#EA6C73','#91B362','#F9AF4F','#53BDFA','#FAE994','#90E1C6','#C7C7C7',
! '#686868','#F07178','#C2D94C','#FFB454','#59C2FF','#FFEE99','#95E6CB','#FFFFFF'

! Font stuff
#define font1     FantasqueSansMono Nerd Font Mono
#define font2     DejaVuSansMono Nerd Font Mono
#define style_R   Regular
#define style_B   Bold
#define style_I   Italic
#define style_K   Book
#define style_O   Oblique

URxvt*font:       xft:font1:style_R:size=12:antialias=true,   xft:font2:style_K:size=10,
URxvt*boldFont:   xft:font1:style_B:size=12:antialias=true,   xft:font2:style_B:size=10,
URxvt*italicFont: xft:font1:style_I:size=12:antialias=true,   xft:font2:style_O:size=10,
URxvt*letterSpace: -1

! Style
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt*geometry: 70x19

! rofi
rofi.color-enabled: true
rofi.color-window: #272827, #13bf9d, #13bf9d
rofi.color-normal: #272827, #657b83, #272827, #272827, #13bf9d
rofi.color-active: #272827, #657b83, #272827, #272827, #13bf9d
rofi.color-urgent: #272827, #657b83, #272827, #272827, #13bf9d

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 5
rofi.font: Source Code Pro Semibold 10.5
rofi.bw: 1
rofi.columns: 2
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true


! Normal copy-paste keybindings without perls
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard
