absl-py==0.9.0
acora==2.0
actionlib==1.12.0
aff4-snappy==0.5.1
alabaster==0.7.12
angles==1.9.12
arrow==0.10.0
artifacts==20170909
asn1crypto==1.1.0
astroid==2.3.1
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4.3
Babel==2.8.0
backcall==0.1.0
bleach==3.1.0
bokeh==1.3.4
bondpy==1.8.5
cachetools==3.1.1
camera-calibration==1.15.0
camera-calibration-parsers==1.11.13
catkin==0.7.23
catkin-pkg==0.4.10
catkin-virtualenv==0.5.2
certifi==2019.9.11
cffi==1.13.0
chainer==6.5.0
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
control==0.8.1
controller-manager==0.18.1
controller-manager-msgs==0.18.1
coverage==4.5.4
cryptography==2.7
cv-bridge==1.13.0
cycler==0.10.0
Cython==0.26.1
dask==2.5.0
decorator==4.3.2
defusedxml==0.5.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dill==0.3.1.1
distorm3==3.4.2
distributed==2.5.1
Django==2.2.13
docutils==0.14
dynamic-reconfigure==1.6.3
EasyProcess==0.2.5
empy==3.3.2
entrypoints==0.3
expiringdict==1.1.4
fastchunking==0.0.3
filelock==2.0.6
flake8==3.7.6
fsspec==0.5.1
future==0.17.1
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.15
gennodejs==2.0.1
genpy==0.6.9
Glances==3.1.3
glob3==0.0.1
google-auth==1.4.2
HeapDict==1.0.1
-e git+https://github.com/sethmnielsen/holodeck.git@feb16afe046792c3d91f631702f9d881b3b6e139#egg=holodeck&subdirectory=../../../../../../src/rosflight_holodeck/python/holodeck
html5lib==1.0.1
httplib2==0.9.2
idna==2.5
image==1.5.17
image-geometry==1.13.0
imagesize==1.2.0
importlab==0.5.1
interactive-markers==1.11.5
intervaltree==2.1.0
ipaddr==2.2.0
ipykernel==5.1.2
ipython==6.5.0
ipython-genutils==0.2.0
ipython3==0.0.1
ipywidgets==7.4.2
isodate==0.6.0
isort==4.3.4
jax==0.1.59
jaxlib==0.1.39
jedi==0.13.2
Jinja2==2.10.1
joint-state-publisher==1.12.15
jsonschema==3.0.1
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterthemes==0.20.0
kdl-parser-py==1.13.1
Kivy==1.11.1
Kivy-Garden==0.1.4
kiwisolver==1.0.1
laser-geometry==1.6.5
lazy-object-proxy==1.4.2
lesscpy==0.13.0
locket==0.2.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
message-filters==1.14.5
mistune==0.8.4
more-itertools==5.0.0
mpi4py==3.0.3
msgpack==0.6.2
mypy==0.740
mypy-extensions==0.4.2
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.4
ninja==1.9.0.post1
notebook==6.0.2
numpy==1.18.0
numpydoc==0.9.2
oauth2client==3.0.0
opencv-python==4.1.0.25
opt-einsum==3.1.0
packaging==19.2
pandas==0.24.1
pandocfilters==1.4.2
paramiko==2.1.2
parsedatetime==2.4
parso==0.3.2
partd==1.0.0
pathlib==1.0.1
pbr==5.1.3
perfplot==0.6.5
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pluggy==0.8.1
ply==3.11
portpicker==1.1.1
posix-ipc==1.0.4
powerline-status==2.7
prometheus-client==0.6.0
prompt-toolkit==1.0.18
protobuf==3.10.0
psutil==5.6.3
ptvsd==4.3.2
ptyprocess==0.6.0
py==1.7.0
pyaff4==0.27
pyasn1==0.4.7
pyasn1-modules==0.2.7
pybind11==2.2.4
PyBindGen==0.21.0
pyblake2==1.1.2
pycodestyle==2.5.0
pycparser==2.19
pycryptodome==3.4.7
pyelftools==0.24
pyem18==0.1
pyflakes==2.1.0
pygame==1.9.4
Pygments==2.3.1
pylint==2.4.4
PyOpenGL==3.1.0
pyoptsparse==1.0.0
pyparsing==2.1.5
PyQt5==5.14.1
PyQt5-sip==12.7.0
pyqtgraph==0.10.0
pyrsistent==0.14.11
pyscreenshot==0.5.1
pyserial==3.4
pytest==4.1.1
python-dateutil==2.6.1
python-qt-binding==0.4.0
pytk==0.0.1.4
pytsk3==20170802
pytype==2019.9.17
pytz==2017.3
pyudev==0.21.0
PyYAML==3.12
pyzmq==18.0.1
qt-dotgraph==0.4.0
qt-gui==0.4.0
qt-gui-cpp==0.4.0
qt-gui-py-common==0.4.0
rdflib==4.2.2
readline==6.2.4.1
rekall==1.7.1
rekall-agent==1.7.1
rekall-capstone==3.0.5.post2
rekall-core==1.7.2rc1
rekall-efilter==1.6.0
rekall-lib==1.7.2rc1
rekall-yara==3.6.3.1
requests==2.18.1
resource-retriever==1.12.6
rosbag==1.14.5
rosboost-cfg==1.14.8
rosclean==1.14.8
roscreate==1.14.8
rosgraph==1.14.5
roslaunch==1.14.5
roslib==1.14.8
roslint==0.11.2
roslz4==1.14.5
rosmake==1.14.8
rosmaster==1.14.5
rosmsg==1.14.5
rosnode==1.14.5
rosparam==1.14.5
rospkg==1.1.7
rospy==1.14.5
rosservice==1.14.5
rostest==1.14.5
rostopic==1.14.5
rosunit==1.14.8
roswtf==1.14.5
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.1
rqt-gui-py==0.5.1
rqt-image-view==0.4.14
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.1
rqt-py-console==0.4.8
rqt-reconfigure==0.5.1
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.9
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rsa==4.0
rviz==1.13.12
scipy==1.4.1
seaborn==0.9.0
Send2Trash==1.5.0
sensor-msgs==1.12.7
shiboken2==5.12.1
simplegeneric==0.8.1
sip==4.19.8
six==1.12.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.5
snowballstemmer==2.0.0
sortedcontainers==1.5.7
SPARQLWrapper==1.8.5
Sphinx==2.3.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
sseclient==0.0.18
stevedore==1.30.1
tblib==1.4.0
terminado==0.8.2
termtables==0.1.1
testflo==1.3.5
testpath==0.4.2
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
tkintertable==1.3.1
tkpip==0.1.4
toolz==0.10.0
topic-tools==1.14.5
torch==1.3.0
torchvision==0.4.0
tornado==6.0.3
tqdm==4.30.0
traitlets==4.3.2
typed-ast==1.4.0
typing==3.6.6
typing-extensions==3.6.6
tzlocal==2.1
Unidecode==1.1.1
urdfdom-py==0.4.3
urllib3==1.21.1
uuid==1.30
virtualenv==16.4.3
virtualenv-clone==0.5.1
virtualenvwrapper==4.8.4
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wrapt==1.11.1
xacro==1.13.5
zict==1.0.0
